* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.profile-card {
    border: 1px solid lightgrey;
    max-width: 500px;
    width: 100%;
    position: relative;
    border-radius: 0 4px 4px 0;
    padding: 29px 25px;
}

.avatar {
    position: absolute;
    left: 0;
    top: 0;
}

.profile-info {
    padding-left: 235px;
}

.profile-info h3 {
    margin: 0;
}

.profile-info p {
    margin:15px 0 0;
    font-size: 16px;
}

.avatar img {
    display: block;
}

.profile-info a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: lightskyblue;
    padding: 7px 15px;
    border-radius: 3px;
    transition: 0.25s ease-in-out all;
}

.profile-info a:hover {
    background: white;
    color: lightskyblue;
    border:1px solid lightskyblue;
}
